body {
    margin: 0;
    padding: 0;
}

#board {
    height: 100vh;
    background-color: rgb(186, 204, 206);
    position: relative;
}

#player {
    background-color: rgb(255, 0, 166);
    position: absolute;
}

.obstacle {
    background-color: rgb(90, 19, 156);
    position: absolute;
}